body {
    background-image: url(pexels-thgusstavo-2224832.jpg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-shadow: 1px 3px 2px black;
}

h1 {
    color: goldenrod;
    font-size: 4rem;
    font-weight: 700;
}

#message-el {
    font-style: italic;
}

button {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
    width: 225px;
    background-color: goldenrod;
    font-weight: bold;
    font-size: 1.6rem;
    border: none;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(153, 115, 19);
}

button:active {
    transform: translateY(-2px);
}